<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HospitalManagement6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Aservlet</display-name>
    <servlet-name>Aservlet</servlet-name>
    <servlet-class>com.company.servlet.Aservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aservlet</servlet-name>
    <url-pattern>/Aservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>com.company.servlet.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.company.servlet.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv</display-name>
    <servlet-name>Serv</servlet-name>
    <servlet-class>com.pace.servlet.Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv</servlet-name>
    <url-pattern>/Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv2</display-name>
    <servlet-name>serv2</servlet-name>
    <servlet-class>com.company.servlet.serv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv2</servlet-name>
    <url-pattern>/serv2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv2</display-name>
    <servlet-name>Serv2</servlet-name>
    <servlet-class>com.company.servlet.Serv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv2</servlet-name>
    <url-pattern>/Serv2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servl</display-name>
    <servlet-name>Servl</servlet-name>
    <servlet-class>com.company.servlet.Servl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servl</servlet-name>
    <url-pattern>/Servl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.pace.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>com.company.servlet.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerservlet</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>com.company.servlet.registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveServlet</display-name>
    <servlet-name>RetrieveServlet</servlet-name>
    <servlet-class>com.company.servlet.RetrieveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveServlet</servlet-name>
    <url-pattern>/RetrieveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.company.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet2</display-name>
    <servlet-name>AdminLoginServlet2</servlet-name>
    <servlet-class>com.company.servlet.AdminLoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet2</servlet-name>
    <url-pattern>/AdminLoginServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet3</display-name>
    <servlet-name>AdminLoginServlet3</servlet-name>
    <servlet-class>com.company.servlet.AdminLoginServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet3</servlet-name>
    <url-pattern>/AdminLoginServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentServlet</display-name>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>com.company.servlet.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.company.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStoreServlet</display-name>
    <servlet-name>EditStoreServlet</servlet-name>
    <servlet-class>com.company.servlet.EditStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStoreServlet</servlet-name>
    <url-pattern>/EditStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet1</display-name>
    <servlet-name>EditServlet1</servlet-name>
    <servlet-class>com.company.servlet.EditServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet1</servlet-name>
    <url-pattern>/EditServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet2</display-name>
    <servlet-name>EditServlet2</servlet-name>
    <servlet-class>com.company.servlet.EditServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet2</servlet-name>
    <url-pattern>/EditServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MsgServlet</display-name>
    <servlet-name>MsgServlet</servlet-name>
    <servlet-class>com.company.servlet.MsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgServlet</servlet-name>
    <url-pattern>/MsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreIssueServlet</display-name>
    <servlet-name>StoreIssueServlet</servlet-name>
    <servlet-class>com.company.servlet.StoreIssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreIssueServlet</servlet-name>
    <url-pattern>/StoreIssueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>com.company.servlet.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
</web-app>